*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: #000;
}

.container{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.container .head{
    font-size: 50px;
    font-weight: 900;
    margin: 15px 0 10px 0;
}

.container .head-content{
    background-color: gray;
    display: flex;
    align-items: center;
    color:blueviolet;
}

.head-content-head{
    border: 1px solid black;
    height:100%;
    background-color: rgb(167, 159, 159);
    padding: 10px;
    margin-right: 15px;
}

.child1{
    color:inherit;
}
.child2{
    color: #fff;
}

.photo-gallery{
 width: 90%;
 margin:auto;
 display: grid;
 grid-template-columns: repeat(4,1fr);
 grid-gap: 20px;
}
.pic{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 grey;
    cursor: pointer;
}
.pic img{
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
    border-radius: 10px;
}

.pic:hover{
    box-shadow: 0 16px 16px 0 grey;
    border: 1px solid gray;
}

@media screen and (max-width:480px) {
    .photo-gallery{
        grid-template-columns: repeat(1,1fr);
    }
}